name: main
on: [push]

jobs:
  all:
    strategy:
      matrix:
        os: [windows-latest]
        node-version: [14.x]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn build
    - run: yarn test
      env: { CI: 1 }
